
jupyter
ipykernel
python-dotenv
pydantic>=2.7
pydantic-settings
langchain>=0.3
langchain-classic
langchain-text-splitters
langchain-core>=0.3
langchain-google-genai
langgraph
langgraph-checkpoint-sqlite
grandalf
mypy
structlog
langsmith
numpy
pandas
pyarrow
sentence-transformers
faiss-cpu
memory-profiler
pytest
ragas
datasets
ijson
pyyaml

